# Ignore operating system files
.DS_Store
Thumbs.db

# Node.js
node_modules/

# Python
__pycache__/
*.pyc

# Java
*.class
*.jar

# IDEs
.vscode/
.idea/

# Logs
*.log

# Environment files
.env
.DS_Store
